@import '_reset.scss';
@import '_responsive.scss';




.overlay {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    visibility: hidden;
    opacity: 0;
    cursor: crosshair;
    z-index: 9999;

    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.sidebar {
    position: fixed;
    top: 0;
    width: 360px;
    min-height: 100vh;
    bottom: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    transform: translateX(-100%);
    background-color: #ffffff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.09);
    z-index: 99999;

    &.active {
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
    }

    .sidebar-inner {
        padding: 0px 0px 30px;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 30px;
            background-color: #ffffff;

            .logo {
                img {
                    width: 100px;
                }
            }

            .close {
                width: 26px;
                height: 26px;
                background-color: #def9ec;
                border-radius: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                i {
                    color: #111;
                }
            }
        }

        .bottom {
            padding: 30px;

            .search {
                border-bottom: 1px solid rgba(255, 255, 255, 0.15);
                position: relative;
                margin-bottom: 10px;
                padding: 0 0 10px 0;

                input {
                    outline: none;
                    font-size: 14px;
                    height: 45px;
                    color: #253d4e;
                    background-color: #f2f3f4;
                    border-radius: 5px;
                    padding: 3px 50px 3px 20px;
                    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
                    border: 0;
                    width: 100%;
                }

                i {
                    cursor: pointer;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    font-size: 16px;
                    padding: 0 14px;
                    background-color: transparent;
                    color: #333;
                }
            }

            .sidebar-menu {
                border-bottom: 1px solid rgba(255, 255, 255, 0.15);

                nav {
                    height: 100%;

                    .navigation {
                        font-family: "Quicksand", sans-serif;
                        color: #253d4e;
                        font-weight: 700;
                        line-height: 1.2;

                        .nav-item {
                            display: block;
                            position: relative;
                            padding: 13px 0;
                            border-bottom: 1px solid #ececec;

                            &:last-child {
                                border-bottom: none;
                            }

                            &>i {
                                right: 0;
                                position: absolute;
                                cursor: pointer;
                                z-index: 9;
                                font-size: 14px;
                                line-height: 38px;
                                top: 5px;
                                color: #253d4e;
                                transition: transform 0.3s;

                                &.active {
                                    transform: rotate(180deg);
                                }
                            }

                            &:hover>a {
                                color: #3bb77e;
                            }

                            &>a {
                                font-size: 14px;
                                line-height: 1;
                                font-weight: 700;
                                position: relative;
                                display: inline-block;
                                color: #253d4e;
                                transition: all 0.3s ease 0s;
                            }

                            .dropdown {
                                display: none;
                                padding: 10px 0 0 10px;

                                li {
                                    padding: 10px 0;
                                    position: relative;

                                    a {
                                        font-size: 14px;
                                        display: block;
                                        font-weight: 500;
                                        line-height: 1;
                                        font-size: 14px;
                                        color: #253d4e;
                                    }

                                    i {

                                        right: 5px;
                                        position: absolute;
                                        cursor: pointer;
                                        z-index: 9;
                                        line-height: 38px;
                                        top: 17px;
                                        color: #253d4e;
                                        font-size: 14px;
                                        line-height: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .info {
                padding: 20px;
                border-radius: 5px;
                border: 1px solid #ececec;
                margin: 17px 0 30px 0;

                a {
                    display: block;
                    margin-bottom: 13px;
                    font-size: 14px;
                    display: block;
                    font-weight: 500;
                    color: #253d4e;

                    i {
                        cursor: pointer;
                        font-size: 14px;
                        color: #3bb77e;
                        margin-right: 8px;
                    }
                }
            }

            .socials {
                margin-bottom: 50px;

                h6 {
                    margin: 0;
                    font-size: 16px;
                    font-family: "Quicksand", sans-serif;
                    color: #253d4e;
                    font-weight: 700;
                    line-height: 1.2;
                    margin-bottom: 15px;
                }

                a {
                    font-size: 14px;
                    margin-right: 5px;
                    height: 30px;
                    width: 30px;
                    display: inline-flex;
                    background: #3bb77e;
                    border-radius: 30px;
                    line-height: 1;
                    align-content: center;
                    justify-content: center;
                    transition: all 0.5s ease 0s;

                    &:hover {
                        transform: translateY(-2px);
                        margin-top: -2px;
                    }

                    img {
                        max-width: 16px;
                        transition: all 0.3s ease 0s;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}

header {
    #top {
        border-bottom: 1px solid #ececec;
        padding: 10px 0;

        .container-fluid {
            max-width: 1610px;

            .row {

                .links {
                    display: flex;

                    li {
                        position: relative;

                        &:not(:first-child) {
                            padding-left: 8px;
                        }

                        &:not(:last-child) {
                            padding-right: 8px;
                        }

                        &:not(:last-child)::before {
                            content: '';
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 1px;
                            height: 10px;
                            background: #dedfe2;
                        }

                        a {
                            color: #7E7E7E;
                            font-weight: 500;
                            font-size: 13px;
                        }
                    }
                }

                .news {
                    color: #7E7E7E;
                    font-size: 14px;

                    .slick-text {
                        display: flex;
                        justify-content: center;
                        font-weight: bold;
                    }
                }

                .help {
                    .help-menu {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;

                        .help-menu-item {
                            position: relative;
                            font-size: 13px;
                            color: #7E7E7E;
                            font-size: 13px;

                            &:not(:first-child) {
                                padding-left: 8px;
                                cursor: pointer;
                            }

                            &:not(:last-child)::before {
                                content: '';
                                position: absolute;
                                right: 0;
                                top: 50%;
                                transform: translateY(-50%);
                                width: 1px;
                                height: 10px;
                                background: #dedfe2;
                            }

                            &:not(:last-child) {
                                padding-right: 8px;
                            }

                            .highlight {
                                color: #3BB77E;
                            }

                            i {
                                font-size: 10px;
                            }

                            .flag-dropdown {
                                position: absolute;
                                z-index: 99;
                                border-radius: 0 0 4px 4px;
                                border: 1px solid #ececec;
                                padding: 10px 15px;
                                top: 100%;
                                left: 0;
                                display: flex;
                                justify-content: center;
                                flex-direction: column;
                                background: #fff;
                                transform: translateY(20px);
                                opacity: 0;
                                visibility: hidden;
                                transition: all .3s;
                                min-width: 120px;

                                li {
                                    display: flex;
                                    align-items: center;
                                    cursor: pointer;

                                    img {
                                        max-width: 15px;
                                        display: inline-block;
                                        margin-right: 5px;
                                    }
                                }
                            }

                            .currency-dropdown {
                                left: -150%;
                            }

                            &.lang:hover {
                                .flag-dropdown {
                                    opacity: 1;
                                    visibility: visible;
                                    transform: translateY(12px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #mid {
        padding: 30px 0;

        .container-fluid {
            max-width: 1610px;

            .row {
                align-items: center;

                .logo {
                    img {
                        width: 180px;
                    }
                }

                .search-box {
                    position: relative;
                    border: 2px solid #BCE3C9;
                    border-radius: 4px;
                    background-color: #fff;

                    input {
                        border: none;
                        outline: none;
                        width: 100%;
                        font-size: 14px;
                        height: 50px;
                        line-height: 50px;
                        font-size: 14px;
                        padding-left: 20px;
                    }

                    img {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0px;
                    }
                }

                .actions {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    .action {
                        display: flex;
                        margin-left: 10px;
                        position: relative;
                        cursor: pointer;

                        &.cart-action:hover .cart {
                            opacity: 1;
                            visibility: visible;
                            top: 140%;
                        }

                        &.acc-action:hover .account-dropdown {
                            opacity: 1;
                            visibility: visible;
                            top: 140%;
                        }

                        .icon {
                            position: relative;

                            span {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 20px;
                                height: 20px;
                                position: absolute;
                                top: -5px;
                                right: -11px;
                                border-radius: 50%;
                                z-index: 1;
                                background-color: #3BB77E;
                                color: #fff;
                                font-size: 12px;
                            }
                        }

                        .text {
                            align-self: flex-end;
                            margin-left: 12px;

                            p {
                                margin: 0;
                                color: #7E7E7E;
                            }
                        }

                        .cart {
                            z-index: 999;
                            position: absolute;
                            top: 160%;
                            left: -350%;
                            background-color: #fff;
                            padding: 30px 20px 27px;
                            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
                            border-radius: 10px;
                            border: 1px solid #ececec;
                            width: 320px;
                            opacity: 0;
                            visibility: hidden;
                            transition: all .3s;

                            ul {
                                li {
                                    display: flex;
                                    justify-content: space-between;
                                    margin: 0 0 20px;

                                    img {
                                        width: 80px;
                                    }

                                    .description {
                                        font-family: 'Quicksand', sans-serif;

                                        .name {
                                            color: #3BB77E;
                                        }

                                        .price {
                                            font-weight: 500;
                                            line-height: 1;
                                            margin: 0 0 9px;
                                        }
                                    }

                                    i {
                                        color: #696969;
                                    }
                                }
                            }

                            .cart-footer {
                                .total {
                                    border-top: 2px solid #f3f3f3;
                                    margin: 25px 0;
                                    padding: 17px 0 0;
                                    display: flex;
                                    justify-content: space-between;
                                    font-family: 'Quicksand', sans-serif;

                                    .text {
                                        color: #9b9b9b;
                                        font-weight: 700;
                                        line-height: 1.2;
                                        margin: 0;
                                    }

                                    .price {
                                        margin: 0;
                                        font-size: 18px;
                                        color: #3BB77E;
                                        font-weight: bold;
                                    }
                                }

                                .buttons {
                                    margin-top: 20px;
                                    display: flex;
                                    justify-content: space-between;
                                    font-family: 'Quicksand', sans-serif;

                                    .btn-cart {
                                        outline: none;
                                        background-color: transparent;
                                        border: 2px solid #3BB77E;
                                        color: #3BB77E;
                                        font-size: 14px;
                                        border-radius: 4px;
                                        padding: 10px 20px;
                                        line-height: 1;
                                        transition: all .3s;

                                        &:hover {
                                            background-color: #FDC040;
                                            color: #fff;
                                        }
                                    }

                                    .btn-checkout {
                                        outline: none;
                                        font-size: 14px;
                                        color: #ffffff;
                                        border-radius: 4px;
                                        line-height: 1;
                                        padding: 10px 20px;
                                        background-color: #3BB77E;
                                        border: 2px solid #3BB77E;
                                        transition: all .3s;

                                        &:hover {
                                            background-color: #FDC040;
                                        }
                                    }
                                }
                            }
                        }

                        .account-dropdown {
                            z-index: 999;
                            position: absolute;
                            top: 160%;
                            left: -100%;
                            background-color: #fff;
                            padding: 30px 20px 27px;
                            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
                            border-radius: 10px;
                            border: 1px solid #ececec;
                            width: 200px;
                            opacity: 0;
                            visibility: hidden;
                            transition: all .3s;

                            ul {
                                li {
                                    color: #253D4E;
                                    cursor: pointer;
                                    font-size: 14px;

                                    i {
                                        margin-right: 10px;
                                    }

                                    &:not(:last-child) {
                                        margin: 0 0 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #bottom {
        background-color: #3BB77E;
        padding: 20px;

        .bottom-left {
            .bottom-left-div {
                border: 1px solid transparent;
                background-color: #FDC040 !important;
                border-radius: 10px;
                color: white;
                padding: 15px;
                background-color: #3BB77E;


                span {
                    font-family: 'Quicksand', sans-serif;
                    font-size: 16px;
                }
            }
        }

        div {

            a {
                text-decoration: none;
                font-size: 16px;
                font-weight: 700;
                color: #fff;

            }

            i {

                color: #fff;
            }

            img {
                font-size: 16px;
                font-weight: 700;
                font-family: "Quicksand", sans-serif;
                color: #fff;
            }
        }

        .bottom-right {

            .left {
                img {
                    width: 50px;
                }
            }

            .right {
                margin-left: 5px;

                p {
                    line-height: 0.8;
                    margin: 0;
                    font-size: 26px;
                    font-family: 'Quicksand', sans-serif !important;
                    color: #fff;
                    font-weight: bolder;
                }

                span {

                    margin: 0;
                    font-size: 12px;
                    font-family: 'Quicksand', sans-serif;
                    color: #fff;
                    font-weight: bolder;
                }
            }
        }

        .bottom-mid {
            .drop-down {
                position: relative;
                height: 2rem;

                .drop-down-ul {
                    position: absolute;
                    top: 4.1rem;
                    left: -2rem;
                    background-color: white;
                    width: 13rem;
                    padding: 1rem;
                    border-radius: 10px;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.7s;
                    z-index: 1;

                    li {
                        color: rgb(110, 108, 108);
                        transition: 0.4s;

                        &:hover {
                            color: #3BB77E;

                            i {
                                color: #3BB77E !important;
                            }

                        }
                    }

                    // display: none;
                }


            }

            .drop-down-1 {
                position: relative;
                height: 2rem;
                overflow: hidden;

                .banner-image {
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .drop-down-ul-1 {
                    z-index: 1;
                    position: absolute;
                    top: 4.1rem;
                    right: -35rem;
                    height: 23rem;
                    background-color: white;
                    width: 93rem;
                    padding: 4rem;
                    border-radius: 10px;
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.7s;

                    h3 {
                        transition: 0.5s;

                        &:hover {
                            color: #ffc107 !important;
                        }
                    }

                    .banner-image {
                        position: relative;

                        .banner-text {
                            position: absolute;
                            top: 10px;
                            left: 10px;
                            z-index: 1;

                            h4 {
                                font-size: 16px;
                                text-transform: uppercase;
                                font-weight: 500;
                                margin: 0;
                                color: black;
                            }

                            h3 {
                                font-size: 24px;
                                font-weight: 700;
                                line-height: 1.5;
                                margin: 5px 0 11px;
                                color: black !important;
                            }

                            span {
                                font-size: 24px;
                                font-weight: 700;
                                color: #81b13d;
                            }

                            h2 {
                                font-size: 27px;
                                position: absolute !important;
                                border-radius: 50%;
                                background-color: orange;
                                padding: 2px 10px;
                                right: -190px !important;
                                top: 20px;
                            }

                            button {
                                position: absolute;
                                bottom: -60px;
                                left: 0px;
                                padding: 10px 15px;
                                border-radius: 15px;
                                background-color: #3BB77E !important;
                                color: white;
                                border: none;
                                transition: 0.5s;

                                &:hover {
                                    background-color: #FD6E6E !important;
                                }
                            }
                        }
                    }

                    li {
                        transition: 0.4s;
                        color: rgb(110, 108, 108);

                        &:hover {
                            color: #3BB77E;

                            i {
                                color: #3BB77E !important;
                            }

                        }
                    }

                    // display: none;
                }


            }


            div {
                padding: 0px;

                &:hover .drop-down-ul {
                    visibility: visible;
                    opacity: 1;

                }

                &:hover .drop-down-ul-1 {
                    visibility: visible;
                    opacity: 1;

                }
            }
        }


    }

}

#phone-header {
    padding: 20px 0;
    display: none;

    .logo {
        height: 60px;
    }

    .menu {
        font-size: 28px;
    }

    .action {
        display: flex;
        margin-left: 18px;
        position: relative;
        cursor: pointer;

        &.cart-action:hover .cart {
            opacity: 1;
            visibility: visible;
            top: 140%;
        }

        &.acc-action:hover .account-dropdown {
            opacity: 1;
            visibility: visible;
            top: 140%;
        }

        .icon {
            position: relative;

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                position: absolute;
                top: -5px;
                right: -11px;
                border-radius: 50%;
                z-index: 1;
                background-color: #3BB77E;
                color: #fff;
                font-size: 12px;
            }
        }

        .text {
            align-self: flex-end;
            margin-left: 12px;

            p {
                margin: 0;
                color: #7E7E7E;
            }
        }

        .cart {
            z-index: 999;
            position: absolute;
            top: 160%;
            left: -350%;
            background-color: #fff;
            padding: 30px 20px 27px;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            border: 1px solid #ececec;
            width: 320px;
            opacity: 0;
            visibility: hidden;
            transition: all .3s;

            ul {
                li {
                    display: flex;
                    justify-content: space-between;
                    margin: 0 0 20px;

                    img {
                        width: 80px;
                    }

                    .description {
                        font-family: 'Quicksand', sans-serif;

                        .name {
                            color: #3BB77E;
                        }

                        .price {
                            font-weight: 500;
                            line-height: 1;
                            margin: 0 0 9px;
                        }
                    }

                    i {
                        color: #696969;
                    }
                }
            }

            .cart-footer {
                .total {
                    border-top: 2px solid #f3f3f3;
                    margin: 25px 0;
                    padding: 17px 0 0;
                    display: flex;
                    justify-content: space-between;
                    font-family: 'Quicksand', sans-serif;

                    .text {
                        color: #9b9b9b;
                        font-weight: 700;
                        line-height: 1.2;
                        margin: 0;
                    }

                    .price {
                        margin: 0;
                        font-size: 18px;
                        color: #3BB77E;
                        font-weight: bold;
                    }
                }

                .buttons {
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-between;
                    font-family: 'Quicksand', sans-serif;

                    .btn-cart {
                        outline: none;
                        background-color: transparent;
                        border: 2px solid #3BB77E;
                        color: #3BB77E;
                        font-size: 14px;
                        border-radius: 4px;
                        padding: 10px 20px;
                        line-height: 1;
                        transition: all .3s;

                        &:hover {
                            background-color: #FDC040;
                            color: #fff;
                        }
                    }

                    .btn-checkout {
                        outline: none;
                        font-size: 14px;
                        color: #ffffff;
                        border-radius: 4px;
                        line-height: 1;
                        padding: 10px 20px;
                        background-color: #3BB77E;
                        border: 2px solid #3BB77E;
                        transition: all .3s;

                        &:hover {
                            background-color: #FDC040;
                        }
                    }
                }
            }
        }

        .account-dropdown {
            z-index: 999;
            position: absolute;
            top: 160%;
            left: -100%;
            background-color: #fff;
            padding: 30px 20px 27px;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            border: 1px solid #ececec;
            width: 200px;
            opacity: 0;
            visibility: hidden;
            transition: all .3s;

            ul {
                li {
                    color: #253D4E;
                    cursor: pointer;
                    font-size: 14px;

                    i {
                        margin-right: 10px;
                    }

                    &:not(:last-child) {
                        margin: 0 0 20px;
                    }
                }
            }
        }
    }
}

#search {


    background-image: url(images/header-bg.png);
    padding: 6rem 0;
    text-align: center;
    background-position: 76% 0rem;
    background-size: cover;

    .col-lg-12 {
        display: flex;
        justify-content: end;

        a {
            text-decoration: none;
            color: #3BB77E;
            padding: 0 10px;
            transition: 0.4s;
            transform: translateY(0px);
            position: relative;
            background-color: white;
            padding: 15px 35px;
            border: 0.5px solid #ececec;
            align-items: center;
            text-align: center;
            border-radius: 25px;
            margin-left: 10px;
            transition: 0.4s !important;
            font-family: "Quicksand", sans-serif;
            font-size: 17px;
            font-weight: 700;

            i {
                color: #111;
            }

            &:hover {
                border-color: #FDC040;
                color: #FDC040;
                bottom: 5px;
                transform: translateY(-3px);
            }


        }

        h1 {
            font-family: "Quicksand", sans-serif;
            color: #253D4E;
            font-weight: 700;
            line-height: 1.2;
            font-size: 48px;
        }
    }


}


#index-main {
    .trending {
        font-size: 48px !important;
        font-family: "Quicksand", sans-serif !important;
        color: #253D4E;
        font-weight: 700;
        font-size: 2em;
        margin: 0.67em 0;

    }
    a{
        text-decoration: none;
        color: #adadad;
        font-size: 12px;
        transition: 0.4s;
        &:hover{
            color: #3BB77E;
        }
    }

    width: 100%;


    .product {
        display: flex;
        flex-wrap: wrap;



        .main-block {
            width: 18%;
            height: 449px;
            border: 1px solid #eeeeee;
            border-radius: 10px;
            transition: .5s;
            margin-left: auto;
            margin-bottom: 20px;

            .block-top {
                position: relative;

                .icons {
                    :nth-child(1) {
                        border-bottom-left-radius: 10px;
                        border-top-left-radius: 10px;
                    }

                    :nth-child(3) {
                        border-bottom-right-radius: 10px;
                        border-top-right-radius: 10px;
                    }

                    position: absolute;
                    top: 50%;
                    display: flex;
                    left: 50%;
                    transition: .4s;
                    z-index: 999999999;
                    opacity: 0;
                    transform: translate(-50%, -50%);

                    i {
                        cursor: pointer;
                        color: #3BB77E;
                        background-color: #fff;
                        padding: 10px;
                        font-size: 20px;
                        border: 1px solid #3BB77E;
                    }
                }

                .promotion {
                    position: absolute;
                    z-index: 2;
                    background-color: rgb(56, 175, 56);
                    color: white;
                    border-radius: 10px 0px 10px 0px;

                    span {
                        padding: 3px 7px;
                    }
                }


                .img {
                    position: relative;

                    img {
                        width: 70%;
                    }

                    .top-image {
                        display: flex;
                        justify-content: center;

                        transition: .5s;
                        position: absolute;
                        top: 0;
                        left: 0;


                    }

                    .back-image {
                        display: flex;
                        justify-content: center;

                    }
                }
            }

            &:hover {
                border-color: #3BB77E;
                box-shadow: 0px 0px 9px 0px #d6d6d6;

                .top-image {
                    transition: .5s;
                    opacity: 0%;
                }

                .icons {
                    opacity: 1;
                }

            }



            .block-bottom {
                padding: 20px;

                .bottom-desc {
                    a {
                        text-decoration: none;
                        color: black;
                        transition: .4s;
                        font-size: 17px;
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                        font-weight: 700;

                        &:hover {

                            color: rgb(28, 209, 28);
                        }
                    }

                    .rating {
                        font-size: 10px;

                        i {
                            color: rgb(255, 174, 0);
                        }

                        span {
                            color: gray;
                        }
                    }

                }

                .bottom-cart {
                    display: flex;
                    justify-content: space-between;

                    .pro-price {
                        align-items: center;
                        display: flex;

                        .new-price {
                            font-size: 20px;
                            font-weight: 1000;
                            color: rgb(35, 199, 35);
                        }

                        .old-price {
                            color: rgb(156, 156, 156);
                            text-decoration: line-through;
                            margin-left: 10px;
                            font-size: 16px;
                            font-weight: 1000;
                        }


                    }

                    .cart-button {

                        padding: 5px 10px;
                        border-radius: 10px;
                        background-color: #DEF9EC;
                        display: flex;
                        color: #3BB77E;

                        align-items: center;
                        transition: .5s;

                        a {
                            color: #3BB77E ;

                            text-decoration: none;
                        }

                        &:hover {
                            background-color: #3BB77E;
                            transform: translateY(-5px);
                            box-shadow: 0px 7px 10px -12px rgba(0, 0, 0, 0.55);

                            a {
                                color: white;
                            }

                        }

                    }


                }

            }
        }
    }
}



#deals-day {
    padding: 80px 0;

    .pagination {
        margin-left: 30px;

        a {
            border: 0;
            padding: 0 10px;
            text-decoration: none;
            box-shadow: none;
            outline: 0;
            width: 40px;
            height: 40px;
            display: block;
            border-radius: 40px;
            color: #7E7E7E;
            line-height: 40px;
            text-align: center;
            font-weight: 700;
            font-family: "Quicksand", sans-serif;
            font-size: 16px;
            background-color: #F2F3F4;
            transition: 0.4s;
            margin-left: 5px;

            &:hover {
                background-color: #3BB77E;
                color: white;

            }
        }
    }

    h1 {
        text-align: left;
        margin-top: 20px;
        margin-bottom: 50px;

        font-family: "Quicksand", sans-serif !important;
        color: #253D4E;
        font-weight: 700;


        font-size: 32px;
        margin-left: 30px;


    }

    .box1 {
        position: relative;
    }

    .box1 img {
        width: 100%;
        border-radius: 15px;

    }

    .contents {
        position: absolute;
        top: 90%;
        left: 50%;
        box-shadow: 4px 8px 5px #f6f7f8;
        border-radius: 8px;
        transform: translate(-50%, -50%);


    }

    .counter {
        span {

            background-color: #fff;
            color: #20c997;
            text-align: center;
            margin: 0 10px;
            padding: 4px 8px;
            border-radius: 5px;

            .num {
                padding: 0;
                margin: 0;
                transition: 0.4s;
            }

            &:hover .num {
                transform: translateY(-5px) !important;
            }



        }
    }

    .deal-text {
        background-color: #fff;
        padding: 15px 25px;
        border-radius: 10px;
        margin-top: 25px;

        .prod-name {
            font-size: 1.1rem;
            color: #253d4e;
        }

        .star {
            color: gold;
            font-size: 12px;
        }

        .comp-name {
            color: #3BB77E;
            font-size: 14px;
            text-decoration: none;
        }

        .price-box .price {
            color: #3BB77E;
        }

        button {
            background-color: #def9ec;
            color: green;
            padding: 6px 20px;
            font-size: 14px;
            border: 1px solid #def9ec;
        }
    }
}


#stay-home {
    background-size: cover;
    padding: 84px 78px;
    clear: both;
    display: table;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    min-height: 230px;
    margin-top: 40px;
    background-image: url(images/banner-10.png);
    padding: 6rem 0;
    text-align: center;
    background-position: 76% 0rem;
    background-size: cover;
    position: relative;

    h2 {
        font-family: "Open Sans", sans-serif;
        font-family: "Quicksand", sans-serif;
        font-weight: 700;
        color: #253D4E;
    }

    i {
        color: #7E7E7E;
    }

    form {
        margin-right: auto;
        background-color: #fff;
        width: 30%;
        display: flex;
        justify-content: flex-start;
        border-radius: 30px;
        padding-left: 20px;

        input {
            border: none;
            padding: 7px 5px;
            background-color: transparent;
            outline: none;
        }

        button {
            border-radius: 30px;
            background-color: #3BB77E;
            color: #fff;
            padding: 15px 40px;
            border: 1px solid #3BB77E;
            cursor: pointer;
        }

    }

    .col-lg-12 {
        p {
            margin-bottom: 45px;
            font-size: 18px;
        }
    }

    img {
        position: absolute;
        right: -104px;
        bottom: -94px;
        max-width: 58%;
    }




}



#offers {
    display: block;
    margin-top: 30px;

    .offer-box {
        .banner-left-icon {
            position: relative;
            background: #F4F6FA;
            padding: 20px;
            border-radius: 10px;

            .banner-icon {
                max-width: 60px;
                margin-right: 20px;
                transition: 0.4s;
                &:hover{
transform: translateY(-5px);
                }

                img {
                    max-width: 100%;
                }
            }

            .banner-text {
                p {
                    margin-bottom: 0;
                    color: #adadad;
                }

                .icon-box-title {
                    color: #242424;
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 5px;
                }
            }
        }
    }


}

#footer-links {
    .col {
        a {
            display: block;
            color: #253D4E;
            font-size: 15px;
            text-decoration: none;
            margin: 15px 0 20px 0;
            transition: 0.4s;

            &:hover {
                color: #20c997;
                transform: translateX(10px);
            }


        }
    }


    h4 {
        font-size: 24px;
        font-family: "Quicksand", sans-serif;
        color: #253D4E;
        font-weight: 700;
        line-height: 1.2;

    }

    p {
        margin-top: 10px;
        font-size: 17px;
    }

    .icon-style {
        margin-right: 8px;
        max-width: 16px
    }

    span {
        font-size: 15px;
    }

    .footer-logo {
        margin-bottom: 23px;
    }

    .payment {
        .stores {
            a {
                margin-right: 12px;

                img {
                    max-width: 128px;
                    transition: 0.4s;

                    &:hover {
                        transform: translateY(-5px);
                    }
                }
            }
        }
    }
}



#all-rights {
    border-top: 1px solid #BCE3C9;
    margin-top: 20px;

    .call-center {
        margin-top: 20px;

        .left {

            img {
                min-width: 10px;
                width: 50px;
                margin-right: 12px;
                margin-left: 20px;

                opacity: 0.5;
            }
        }

        .right {
            margin-left: 5px;

            p {
                line-height: 0.8;
                margin: 0;
                font-size: 26px;
                font-family: 'Quicksand', sans-serif !important;
                color: #20c997;
                font-weight: bolder;
            }

            span {

                margin: 0;
                font-size: 12px;
                font-family: 'Quicksand', sans-serif;
                color: black;
                font-weight: bolder;
                opacity: 0.5;
            }
        }
    }

    .last-icons {
        align-items: center;
        flex-wrap: wrap;
        margin-top: 42px;

        h6 {
            margin-right: 25px;
            font-size: 16px;
            font-family: "Quicksand", sans-serif;
            color: #253d4e;
            font-weight: 700;
            line-height: 1.2;

        }

        a {
            font-size: 14px;
            margin-right: 5px;
            height: 30px;
            width: 30px;
            display: inline-flex;
            background: #3bb77e;
            border-radius: 30px;
            line-height: 1;
            align-content: center;
            justify-content: center;
            transition: all 0.5s ease 0s;

            &:hover {
                transform: translateY(-2px);
                margin-top: -2px;
            }

            img {
                max-width: 16px;
                transition: all 0.3s ease 0s;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}



#scroll {
    position: fixed;
    bottom: 20px;
    cursor: pointer;
    right: 20px;
    background-color: #3BB77E;
    color: #fff;
    opacity: 0;
    transition: .5s;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
}